:root {
  --main-bg: #FFFBF1;
  /* --main-bg: #fff8f3; */
  --primary: #3B3EAC;
  --secondary: #3B3EAC;
  --text: #353129;
  --accent: #FFD460;
}

html { scroll-behavior: smooth; }
body { margin: 0 auto; font-family: "Noto Sans KR", sans-serif; background-color: var(--main-bg); color: var(--text); overflow-y: auto; overflow-x: hidden; }
body.overflow-hidden { overflow: hidden; }
.wrapper { width: 100%; margin: 0 auto; }
main { width: 100%; }
h1, h2 { font-family: 'Outfit', sans-serif;}
h1 { font-size: 3.6rem; font-weight: 800; margin-bottom: 1rem; white-space: nowrap; }
h2 { font-size: 2rem; margin-bottom: 1rem; } 
button, .btn { font-family: 'Fredoka', sans-serif; }

/* header */
.header { position: fixed; top: 0; left: 0; width: 100%; background: var(--main-bg); color:#ffffff; transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;  z-index: 999; } 
.header.active { background: var(--primary); box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); color:#ffffff; }
.header_inner { display: flex; justify-content: space-between; align-items: center; width: 100%; max-width: 1200px; padding: 1rem 2rem; margin: 0 auto; }
.logo { display: block; } 
.logo img { height: 40px; transition: all 0.3s ease-in-out; }
nav ul{ display: flex; gap: 1.5rem; }
.nav_menu { background: var(--accent); color: #fff; padding: 0.5rem 1rem; border-radius: 1rem; text-decoration: none; font-weight: bold; transition: background 0.3s ease; &:hover { background: var(--primary); color: #ffffff; } }
.nav_btn { display: none;  width: 1.5rem; height: auto; box-sizing: content-box; padding: 0.5rem 0.2rem; color: #fff; font-size: 24px; cursor: pointer; }

#top_button { position: fixed; bottom: 2rem; right: 2rem; width: 50px; height: 50px; background-color: var(--accent, #ff8a65); color: #fff; font-size: 1.2rem; font-weight: bold; border: none; border-radius: 50%; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); cursor: pointer; opacity: 0; visibility: hidden; transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; z-index: 200; }
#top_button.show { opacity: 1; visibility: visible; transform: translateY(0); }

/* footer */
.footer { background-color: #353129; color: #ffffff; font-size: 0.95rem; z-index: 10; }
.footer_inner { display: flex; justify-content: space-between; align-items: center; width: 100%; max-width: 1200px; height: 100px; padding: 0 2rem; margin: 0 auto;}
.footer_left img.footer_logo { height: 40px; object-fit: contain; }
.footer_center .footer_link { color: #ffffff; text-decoration: none; font-weight: 600; transition: opacity 0.3s ease; }
.footer_center .footer_link:hover { opacity: 0.7; }
.footer_right { display: flex; align-items: center; gap: 6px; margin-right: 50px;}

@media (max-width: 512px) {
  h1 { font-size: 2.5rem; }
  h2 { font-size: 1.5rem; }

  /* header */
  .header { flex-direction: column; align-items: flex-start; transition: none;}
  .header.active { background: #ffffff; box-shadow: none; color:var(--text); }
  .header.active .logo { color: var(--text); }
  .header_inner { position: relative; flex-direction: column; align-items: flex-start; padding: 0; }
  .header_left { position: absolute; left: 0; width: 100%; display: flex; justify-content: space-between; align-items: center; padding: 1rem; background: var(--main-bg); z-index: 100; }
  .header.active .header_left { background: #ffffff; }
  .header_left .logo img { height: 24px; }
  .nav_btn { display: flex; flex-flow: column; justify-content: center; grid-column-gap: .5rem; grid-row-gap: .5rem; }
  .nav_btn span { display: block; width:100%; height: 2px; padding-bottom: 0; padding-right: 0; background-color: var(--text); perspective-origin: 50%; transform-origin: 50%; transition: all .3s cubic-bezier(.075, .82, .165, 1); }
  .nav_btn.active span:first-child { transform: translateY(5px) rotate(45deg); }
  .nav_btn.active span:last-child { transform: translateY(-5px) rotate(-45deg); }
  nav {position: absolute; left: 0; display: flex; width: 100%; height: 0dvh; background: #ffffff; overflow: hidden; transition: height .8s cubic-bezier(.075, .82, .165, 1);}
  nav.active { width:100%; height: 100dvh; z-index: 1; color: var(--text); }
  nav ul { width: 100%; min-height: 100dvh; flex-direction: column; gap: 0.5rem; padding: 8.25rem 1.25rem 1.5rem; }
  nav ul li { padding: 2.5rem 1rem;}
  .nav_menu { width: 100%; text-align: center; background: #ffffff; color: var(--text); font-size: 2.5rem; background: none; padding: 0.5rem 1rem; border-radius: 0; font-weight: bold; transition: text-decoration .3s ease; &:hover { background: #ffffff; color: var(--text); text-decoration: underline;}}

  /* footer */
  .footer_inner { flex-direction: column; align-items: flex-start; height: 120px; padding: 20px; font-size: 14px;}
  .footer_left img.footer_logo { height: 24px; }
  .copyright {font-size: 12px;}
}
